<div class="head secondaryHead">
    <header class="subhead pageTitle"></header>
</div>
<div class="content comicsContent">
    <div class="columns ">

        <picture>
            <source srcset="assets/images/webp_sm/comic_two_weeks.webp"
                    type="image/webp">
            <img ngSrc="assets/images/png_sm/comic_two_weeks.png"
                 alt="Comic Two Weeks"
                 class="comics magnify-image"
                 height="2092"
                 width="4116">
        </picture>

        <div class="column">
            <picture>
                <source srcset="assets/images/webp_sm/comic_fatal.webp"
                        type="image/webp">
                <img ngSrc="assets/images/png_sm/comic_fatal.png"
                     alt="Comic Fatal"
                     class="comics magnify-image"
                     height="2092"
                     width="1962">
            </picture>

            <picture>
                <source srcset="assets/images/webp_sm/comic_Human_Error.webp"
                        type="image/webp">
                <img ngSrc="assets/images/png_sm/comic_Human_Error.png"
                     alt="Comic Human Error"
                     class="comics magnify-image"
                     height="2092"
                     width="1962">
            </picture>

            <picture>
                <source srcset="assets/images/webp_sm/Comic_Network_Admin.webp"
                        type="image/webp">
                <img ngSrc="assets/images/png_sm/Comic_Network_Admin.png"
                     alt="Comic Network Admin"
                     class="comics magnify-image"
                     height="2092"
                     width="1962">
            </picture>

        </div>
        <div class="column">

            <picture>
                <source srcset="assets/images/webp_sm/comic_real_program.webp"
                        type="image/webp">
                <img ngSrc="assets/images/png_sm/comic_real_program.png"
                     alt="Comic Real Program"
                     class="comics magnify-image"
                     height="2092"
                     width="1962">
            </picture>

            <picture>
                <source srcset="assets/images/webp_sm/comic_useless.webp"
                        type="image/webp">
                <img ngSrc="assets/images/png_sm/comic_useless.png"
                     alt="Comic Useless"
                     class="comics magnify-image"
                     height="2092"
                     width="2060">
            </picture>

            <picture>
                <source srcset="assets/images/webp_sm/comic_Virus.webp"
                        type="image/webp">
                <img ngSrc="assets/images/png_sm/comic_Virus.png"
                     alt="Comic Virus"
                     class="comics magnify-image"
                     height="2092"
                     width="1962">
            </picture>
        </div>

    </div>
</div>