* {
    box-sizing: border-box;
}

.floppyDisk{
    top: calc(50% + 65px);
    left: calc(50% + 100px);
    transform: rotateZ(15deg);
    filter: contrast(130%);
    display: block;
    z-index: 10;
    width: 400px;
    height: 400px;
    background: url("../../assets/images/FloppyDisk.png") no-repeat center;
    background-size: 100%;
    position: absolute;
    -webkit-animation: blinkingDisk 1.5s ease-in-out infinite alternate;
    -moz-animation: blinkingDisk 1.5s ease-in-out infinite alternate;
    animation: blinkingDisk 1.5s ease-in-out infinite alternate;
    cursor: pointer;
    border: none;
}

@-webkit-keyframes blinkingDisk {
    from {
        filter: contrast(160%);
    }
    to {
        filter: contrast(100%);
    }
}

.floppyDisk:hover {
    border: transparent solid 3px;
}

/*.floppyDisk:after{*/
/*    !*top: calc(50% - 100px);*!*/
/*    !*left: calc(50% + 200px);*!*/
/*    transform: rotateZ(65deg) translateX(100px);*/
/*    display: block;*/
/*    z-index: 10;*/
/*    width: 400px;*/
/*    height: 800px;*/
/*    background: url("../assets/images/FloppyDisk.png") no-repeat center;*/
/*    background-size: 100%;*/
/*    position: absolute;*/
/*}*/