<div class="head secondaryHead">
    <header class="subhead pageTitle">Technology</header>
</div>
<div class="content secondaryPages">
    <div class="columns">
        <div class="column">
            <div class="head classifiedSpace">
                <p class="classifiedHeader classifiedSpace"><span class="headline hl2">Annotation Station</span></p></div>
            <img class="techPics" src="/../../assets/images/AnnStatDotMatrix22@0.3x.png"
                 alt="Personal Headshot">
            <p class="subhead subheadCl">Full Stack Web App</p>
            <p class="magnifiable">
                Annotation station was created out of my need to organize everything that I was learning on YouTube.
                I found it difficult to remember where I had seen a coding method or tutorial, so I came up with a bookmarking
                application that organizes videos but also logs the moment of an important topic within a note that the user enters.
                Users look up their organized notes and click them to return to the related video and the moment the topic of interest
                is being discussed. It is a Full-stack application using MySQL, Java, Springboot w/ Jackson Data Binding on the back end
                and CSS, JavaScript and JQuery on the front. YouTube’s API was used for video information and thumbnails. Multiple types
                of users were included along with authentication and varied permissions.
            </p>
            <!--        <div class="head classifiedSpace">-->
            <!--          <p class="classifiedHeader classifiedSpace"><span class="headline hl2">Internship</span></p>-->
            <!--        </div>-->
            <!--        <img class="techPics" src="assets/images/AnnStatDotMatrix22@0.3x.png"-->
            <!--             alt="Personal Headshot">-->
            <!--        <p class="subhead subheadCl">Mingo: Social Platform</p>-->
            <!--        <p class="magnifiable"> I am currently assisting a local entrepreneur in planning a web/mobile application-->
            <!--          to help connect people with places and events that fit their interests. I am doing the wireframing and-->
            <!--          database design currently with expectations to begin working on the code within the next few weeks</p>-->
        </div>

        <div class="column">
            <div class="head classifiedSpace">
                <p class="classifiedHeader classifiedSpace"><span class="headline hl2">Book Stack</span></p></div>
            <img class="techPics" src="/../../assets/images/BookStackDotMatrix22@0.3x.png"
                 alt="Personal Headshot">
            <p class="subhead subheadCl">Full Stack Web App</p>
            <p class="magnifiable">
                Built a marketplace for books using Java, MySQL, JavaScript, the google books API that included different
                user types. The application was styled using vanilla CSS featured elaborate page animations, eye catching graphics,
                and a custom logo created using the Adobe suite.
            </p>
            <div class="head classifiedSpace">
                <p class="classifiedHeader classifiedSpace"><span class="headline hl2">Films We Love</span></p></div>
            <img class="moviePic" src="/../../assets/images/MoviesWeLoveDotMatrix22@0.3x.png"
                 alt="moviesWeLove">
            <p class="subhead subheadCl">API AJAX application </p>
            <p class="magnifiable">
                Used JavaScript and ajax requests to allow users to search, add, and delete movie information by name and category.
                Used a movies API to pull all movie information in for newly created list titles.
            </p>
            <!--        <div class="head classifiedSpace">-->
            <!--          <p class="classifiedHeader classifiedSpace"><span class="headline hl2">Internship</span></p>-->
            <!--        </div>-->
            <!--        <img class="techPics" src="assets/images/AnnStatDotMatrix22@0.3x.png"-->
            <!--             alt="Personal Headshot">-->
            <!--        <p class="subhead subheadCl">Mingo: Social Platform</p>-->
            <!--        <p class="magnifiable"> I am currently assisting a local entrepreneur in planning a web/mobile application-->
            <!--          to help connect people with places and events that fit their interests. I am doing the wireframing and-->
            <!--          database design currently with expectations to begin working on the code within the next few weeks</p>-->
        </div>
        <div class="column">
            <div class="head classifiedSpace">
                <p class="classifiedHeader classifiedSpace"><span class="headline hl2">Films We Love</span></p></div>
            <img class="moviePic" src="assets/images/MoviesWeLoveDotMatrix22@0.3x.png"
                 alt="moviesWeLove">
            <p class="subhead subheadCl">API AJAX application </p>
            <p class="magnifiable">
                Used JavaScript and ajax requests to allow users to search, add, and delete movie information by name and category.
                Used a movies API to pull all movie information in for newly created list titles.
            </p>
            <!--        <div class="head classifiedSpace">-->
            <!--          <p class="classifiedHeader classifiedSpace"><span class="headline hl2">Internship</span></p>-->
            <!--        </div>-->
            <!--        <img class="techPics" src="assets/images/AnnStatDotMatrix22@0.3x.png"-->
            <!--             alt="Personal Headshot">-->
            <!--        <p class="subhead subheadCl">Mingo: Social Platform</p>-->
            <!--        <p class="magnifiable"> I am currently assisting a local entrepreneur in planning a web/mobile application-->
            <!--          to help connect people with places and events that fit their interests. I am doing the wireframing and-->
            <!--          database design currently with expectations to begin working on the code within the next few weeks</p>-->
        </div>

    </div>
</div>