<div class="techHead  secondaryHead">
    <header class="subhead pageTitle"></header>
</div>
<div class="content secondaryPages">
    <div class="columns">
        <div class="column">
            <div class="techHead  classifiedSpace">
                <p class="classifiedHeader classifiedSpace"><span class="headline hl2">Data Masking</span></p></div>
            <picture>
                <source srcset="assets/images/webp_sm/data_masked.webp" type="image/webp">
                <img class="comics"
                     ngSrc="assets/images/png_sm/data_masked.png"
                     alt="Data Masked"
                     height="1046"
                     width="981">
            </picture>
            <p class="subhead subheadCl"><strong>Tool for Secure Testing<br>Aug 2024 – Oct 2024</strong></p>
            <p class="magnifiable">
                Designed an automated system for handling sensitive data in test environments, reducing masking time by 75% and
                enabling efficient load testing. Streamlined PHI retrieval and transfer while ensuring compliance. Integrated with
                AWS S3 and Secure FTP to enhance security and accessibility.
            </p>
            <div class="techHead  classifiedSpace">
                <p class="classifiedHeader classifiedSpace"><span class="headline hl2">AWS EKS Migration</span></p></div>
            <picture>
                <source srcset="assets/images/webp_sm/kuber.webp" type="image/webp">
                <img class="comics"
                     ngSrc="assets/images/png_sm/kuber.png"
                     alt="Kubernetes"
                     height="725"
                     width="981">
            </picture>
            <p class="subhead subheadCl"><strong>Containerized Infrastructure Updates<br>Jul 2023 – Oct 2023</strong></p>
            <p class="magnifiable">
                Led the migration of infrastructure to AWS EKS, improving scalability and operational flexibility for
                retail cloud solutions. Implemented Terraform to automate deployment and CI/CD workflows, ensuring smooth
                container orchestration. Enhanced system reliability while optimizing distributed computing performance.
            </p>
        </div>

        <div class="column">
            <div class="techHead  classifiedSpace">
                <p class="classifiedHeader classifiedSpace"><span class="headline hl2">Disaster Recovery Utility</span></p></div>
            <picture>
                <source srcset="assets/images/webp_sm/dr_exercise.webp" type="image/webp">
                <img class="comics"
                     ngSrc="assets/images/png_sm/dr_exercise.png"
                     alt="Disaster Recovery Exercise"
                     height="1046"
                     width="981">
            </picture>
            <p class="subhead subheadCl"><strong>Automation for Critical Times<br>Jun 2023 – Sep 2023</strong></p>
            <p class="magnifiable">
                Built an automation tool to streamline file retrieval, decryption, and preparation,
                reducing disaster recovery time by 25%. Improved system reliability through workflow
                optimization and encryption techniques, ensuring seamless access to critical data during outages.
            </p>
            <div class="techHead  classifiedSpace">
                <p class="classifiedHeader classifiedSpace"><span class="headline hl2">Internal AI/ML System</span></p></div>
            <picture>
                <source srcset="assets/images/webp_sm/ai_work.webp" type="image/webp">
                <img class="comics"
                     ngSrc="assets/images/png_sm/ai_work.png"
                     alt="AI Work"
                     height="912"
                     width="981">
            </picture>
            <p class="subhead subheadCl"><strong>Proof of Concept<br>Apr 2023 – Jun 2023</strong></p>
            <p class="magnifiable">
                Developed a locally hosted LLM using Hugging Face to improve institutional knowledge access and data insights.
                Integrated RAG techniques to enhance response accuracy. Designed a scalable architecture for processing
                structured JSON data, optimizing internal analytics and workflow automation.
            </p>
        </div>
        <div class="column">
            <div class="techHead  classifiedSpace">
                <p class="classifiedHeader classifiedSpace"><span class="headline hl2">Cumulus System Map</span></p></div>
            <picture>
                <source srcset="assets/images/webp_sm/mapping.webp" type="image/webp">
                <img class="comics"
                     ngSrc="assets/images/png_sm/mapping.png"
                     alt="Mapping"
                     height="718"
                     width="981">
            </picture>
            <p class="subhead subheadCl"><strong>Automated Map to Update Itself<br>Jun 2022 – Nov 2022</strong></p>
            <p class="magnifiable">
                Created a system architecture map using the C4 model and Ice-Panel to simplify troubleshooting and
                design decisions. Automated updates with Python scripts, reducing manual effort and ensuring real-time
                accuracy in system documentation and dependency tracking.
            </p>
        </div>

    </div>
</div>