<div class="notepad">
    <form class="messageForm">
        <label for="name" class="formFields">Name:</label> <input type="text" class="formFields" id="name">

        <select name="Contact Method" id="city" class="formFields field2">
            <option value="Choose">Contact Preference</option>
            <option value="Phone">Phone</option>
            <option value="Email">Email</option>
            <option value="LinkedIn">LinkedIn</option>
            <option value="WhatsApp">WhatsApp</option>
        </select>
        <label for="contact" class="formFields">Contact Info</label><input type="text" class="formFields" id="contact">
        <label for="Message" class="formFields">Message:</label>
        <textarea rows="9" cols="30" name="address" id="Message" class="formFields"></textarea>
        <input type="submit" value="Submit" class="formFields field3">
    </form>
</div>