<div class="head secondaryHead border">
    <header class="subhead pageTitle"></header>
    <picture>
        <source srcset="assets/images/webp_sm/Thank_You.webp" type="image/webp">
        <img class="comics"
             ngSrc="assets/images/png_sm/Thank_You.png"
             alt="Thank You"
             height="1046"
             width="2058">
    </picture>
</div>
<div class="content comicsContent secondaryPages">
    <div class="columns ">
        <div class="head classifiedSpace">
            <p class="classifiedHeader classifiedSpace"><span class="headline hl2">Appreciation for the people who have helped me</span></p></div>
        <p class="magnifiable">
            I just wanted to use this space to acknowledge everyone that has helped me while I was training and
            to those that taught me the skills that I have developed. Its not much but I wanted to have a space
            to show my gratitude for the support and consideration. <br> To anyone that just happened upon this area,
            thank you for checking out my site and I hope it give you some ideas for your own projects. If you
            would like to leave a message for me I have included a message system that will be delivered to my
            email. you will find it in the desk drawer, reachable from the notepad to the right of this newspaper.
            <br> Either way, Happy coding!!
        </p>

    </div>
</div>