<div class="head secondaryHead border">
    <header class="subhead pageTitle"></header>
    <picture>
        <source srcset="assets/images/webp_sm/Thank_You.webp" type="image/webp">
        <img class="comics"
             ngSrc="assets/images/png_sm/Thank_You.png"
             alt="Thank You"
             height="1046"
             width="2058">
    </picture>
</div>
<div class="content comicsContent secondaryPages">
    <div class="columns ">
        <div class="head classifiedSpace">
            <p class="classifiedHeader classifiedSpace"><span class="headline hl2">Appreciation for the people who have helped me</span></p></div>
        <p class="magnifiable">
            I want to take a moment to acknowledge everyone who supported me during my training and helped
            me develop my skills. It’s not much, but I wanted a space to express my gratitude for the
            encouragement and guidance I’ve received. To my instructors and classmates, to my coworkers and
            mentors, to my family and my wife — Thank You!
            <br> To anyone who stumbled upon this section—thank you
            for visiting my site! I hope it gives you some inspiration for your own projects. If you’d like to
            leave me a message, I’ve included a system that sends directly to my email. You can find it in the
            desk drawer, accessible from the notepad to the right of this newspaper.
            <br> Either way, Happy coding!!
        </p>

    </div>
</div>