<div class="autorace">
    <fa-icon [icon]="treeIcon" class="neon" id="obstacle-1"></fa-icon>
    <fa-icon [icon]="treeIcon" class="neon" id="obstacle-2"></fa-icon>
    <fa-icon [icon]="treeIcon" class="neon" id="obstacle-3"></fa-icon>
    <fa-icon [icon]="trophyIcon" class="neon" id="obstacle-4"></fa-icon>
    <fa-icon [icon]="carIcon" class="neon" id="car-1"></fa-icon>
    <fa-icon [icon]="carIcon" class="neon" id="car-2"></fa-icon>
    <p class="neon" id="lap-1">Lap 1</p>
    <p class="neon" id="lap-2">Lap 2</p>
    <div id="gametoggle"></div>
</div>