<!-- Main content area with the newspaper layout -->
<main  class="entire-paper">
    <div class="paper-date" id="issueDate"></div> <!-- Static issue date -->
    <div class="head">
        <header class="title">Aspiring Architects Qtly.</header> <!-- Static header -->
    </div>

    <nav class="subhead">
        <!-- Navigation links to subpages -->
        <a id="about" class="links" routerLink="/newspaper/frontpage" routerLinkActive="active">Front Page</a>
        <a id="work" class="links" routerLink="/newspaper/classified" routerLinkActive="active">Classifieds</a>
        <a id="projects" class="links" routerLink="/newspaper/tech" routerLinkActive="active">Technology</a>
        <a id="comics" class="links" routerLink="/newspaper/comics" routerLinkActive="active">Comics</a>
        <a id="contact" class="links" routerLink="/newspaper/editorial" routerLinkActive="active">Editorial</a>
    </nav>

    <div>
        <router-outlet></router-outlet>
    </div>
</main>