* {
    box-sizing: border-box;
}

body {
    position: relative;
    top: -100px;
    bottom: 0;
    left: 0;
    transform: skew(-2deg);
    transform-origin: top;
    /*height: auto;*/
    display: flex;
    flex-direction: column;
    /*padding: 25% 25%;*/
    overflow: scroll;
    /*overflow-scrolling: auto;*/
    /*object-fit: initial;*/
    background: url("../assets/images/DeskDrawer.png") no-repeat center;
    background-size: 2000px;
    font-family: Arial;
    height: 1250px;

}

.floppyDisk{
    top: calc(50% + 65px);
    left: calc(50% + 100px);
    transform: rotateZ(15deg);
    filter: contrast(130%);
    display: block;
    z-index: 10;
    width: 400px;
    height: 400px;
    background: url("../assets/images/FloppyDisk.png") no-repeat center;
    background-size: 100%;
    position: absolute;
    -webkit-animation: blinkingDisk 1.5s ease-in-out infinite alternate;
    -moz-animation: blinkingDisk 1.5s ease-in-out infinite alternate;
    animation: blinkingDisk 1.5s ease-in-out infinite alternate;
    cursor: pointer;
    border: none;
}

@-webkit-keyframes blinkingDisk {
    from {
        filter: contrast(160%);
    }
    to {
        filter: contrast(100%);
    }
}

.floppyDisk:hover {
    border: transparent solid 3px;
}

/*.floppyDisk:after{*/
/*    !*top: calc(50% - 100px);*!*/
/*    !*left: calc(50% + 200px);*!*/
/*    transform: rotateZ(65deg) translateX(100px);*/
/*    display: block;*/
/*    z-index: 10;*/
/*    width: 400px;*/
/*    height: 800px;*/
/*    background: url("../assets/images/FloppyDisk.png") no-repeat center;*/
/*    background-size: 100%;*/
/*    position: absolute;*/
/*}*/

.autorace{
    top: calc(50% - 150px);
    left: calc(50% - 225px);
    transform: rotateZ(-7deg);
    display: block;
    z-index: 15;
    width: 300px;
    height: 800px;
    background: url("../assets/images/Mattel_AutoRace.png") no-repeat center;
    background-size: 100%;
    position: absolute;
}

#gametoggle {
    top: 460px;
    left: 180px;
    position: relative;
    display: flex;
    z-index: 10;
    background: url("../assets/images/gameToggle.png") no-repeat center;
    background-size: 100%;
    width: 55px;
    height: 55px;
    border: transparent solid 2px;
    -webkit-animation: blinkingToggle 1s ease-in-out infinite alternate;
    -moz-animation: blinkingToggle 1s ease-in-out infinite alternate;
    animation: blinkingToggle 1s ease-in-out infinite alternate;
    cursor: pointer;
}

#gametoggle:hover {
    border: transparent solid 3px;
}

@-webkit-keyframes blinkingToggle {
    from {
        filter: contrast(100%);
    }
    to {
        filter: contrast(160%);
    }
}

.neon {
    position: relative;
    display: flex;
    color: #fc0707;
    font-family: monospace;
    -webkit-animation: neon1 .8s ease-in-out infinite alternate;
    -moz-animation: neon1 .8s ease-in-out infinite alternate;
    animation: neon1 .8s ease-in-out infinite alternate;
}

#car-1{
    transform: rotateZ(-45deg);
    top: 460px;
    left: 150px;
    visibility: hidden;
}

#car-2{
    transform: rotateZ(-45deg);
    top: 460px;
    left: 107px;
}

#obstacle-1{
    top: 400px;
    left: 227px;
    visibility: hidden;
}

#obstacle-2{
    top: 425px;
    left: 185px;
    visibility: hidden;
}

#obstacle-3{
    top: 350px;
    left: 193px;
    visibility: hidden;
}

#obstacle-4{
    top: 370px;
    left: 150px;
    visibility: hidden;
}

#lap-1{
    top: 275px;
    left: 200px;
    font-weight: bolder;
    visibility: hidden;
}

#lap-2{
    top: 260px;
    left: 200px;
    font-weight: bolder;
    visibility: hidden;
}

@-webkit-keyframes neon1 {
    from {
        text-shadow: 0 0 30px #a04f4f, 0 0 40px #d27f7f, 0 0 50px #ee7777, 0 0 60px #ff1177,
        0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 85px #ff1177, 0 0 90px #ff1177;
    }
    to {
        text-shadow: 0 0 15px #d46161, 0 0 25px #ef7373, 0 0 35px #d25353, 0 0 45px #ff1177,
        0 0 55px #ff1177, 0 0 65px #ff1177, 0 0 75px #ff1177, 0 0 85px #ff1177;
    }
}


/*.closeDrawer{*/
/*    top: calc(50% - 100px);*/
/*    left: calc(50% - 945px);*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-content: center;*/
/*    z-index: 1;*/
/*    position: absolute;*/
/*    height: 60px;*/
/*    text-transform: uppercase;*/
/*    cursor: pointer;*/
/*}*/

/*.close:hover{*/
/*    background-color: white;*/
/*}*/

.linkText{
    margin: 0 0 25px 0;
    font-weight: bolder;
    font-size: 50px;
    line-height: 0;
    text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
    color: #806c55;
    opacity: 0.4;
}


#movetxt {
    position: relative;
    -webkit-animation: moving 4s infinite;
    animation: moving 4s running;
    animation-timing-function: ease;
}

@-webkit-keyframes moving {
    from {top: 100px; opacity: .1;}
    to {top: 0; opacity: 1;}
}

@keyframes moving {
    from {top: 100px; opacity: .1;}
    to {top: 0; opacity: 1;}
}

.notepad{
    Top: calc(50% + 75px);
    left: calc(50% + 550px);
    transform: rotateZ(2deg);
    display: flex;
    flex-direction: column;
    z-index: 5;
    width: 300px;
    height: 450px;
    background: url("../assets/images/notebook.png") no-repeat center;
    background-size: 100%;
    position: absolute;
}

@font-face {
    font-family: "Indie_Flower";
    src: url("../assets/fonts/Indie_Flower/IndieFlower-Regular.ttf") format("truetype");
}


.messageForm{
    font-family: Indie_Flower, serif;
    Top: calc(50% - 165px);
    left: calc(50% - 100px );
    position: absolute;
    font-size: 15px;
}

.formFields{
    font-family: Indie_Flower, serif;
    display: flex;
    text-align: left;
    width: 90%;
    background: transparent;
    border-top: none;
    border-right: rgba(119, 152, 219, 0.87) solid 1px;
    border-left: rgba(119, 152, 219, 0.87) solid 1px;
    border-bottom: rgba(119, 152, 219, 0.87) solid 1px;
    padding-left: 3px;
    font-weight: bolder;
}

.field2{
    padding-left: 0 !important;
}

.field3{
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    /*color: -internal-light-dark(black, white);*/
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: unset;
    text-align: center !important;
    appearance: auto;
    /*background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));*/
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    /*font: 400 13.3333px Arial;*/
    padding:unset;
    /*border-width: unset;*/
    /*border-style: unset;*/
    /*border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));*/
    border-image: unset;
}

.field3:hover{
   background-color: #7798db;
    cursor: pointer;
}

.field3:active{
    background-color: #ef7373;
}

.field3:focus{
    background-color: #ef7373;
}

