<div class="columns">
    <div class="column">
        <picture>
            <source srcset="assets/images/webp_sm/PersonalSiteHeadShotMasked@0.25x.webp" type="image/webp">
            <img class="headshot campus" src="assets/images/png_sm/PersonalSiteHeadShotMasked@0.25x.png" alt="Personal Site Headshot Masked">
        </picture>
        <div class="head"><span class="headline hl3">Finding a Home in Tech</span>
            <p><span class="headline hl2">About me</span></p></div>
        <p class="magnifiable">For Nathan Adcock, the journey from nonprofit leadership to senior software development has
            been nothing short of transformative. "I’ve always been driven by the desire to make a difference," Nathan shares,
            reflecting on his 12 years of management experience in the social services sector. Now, with over four years in software
            development, he’s channeling that same passion into technology.
            Currently, a Software Developer Level 3 at a leading 340B healthcare solutions company, Nathan has become a key contributor
            to innovative projects, including secure data masking tools and disaster recovery utilities. With a deep commitment to solving
            complex problems, Nathan is driven by a singular vision: leveraging technology to create impactful, scalable solutions. He is now
            setting his sights on advanced roles in architecture and infrastructure, with the ultimate goal of becoming an AI Systems Architect
            by 2029.</p></div>
    <div class="column">
        <div class="head"><span class="headline hl5">Language cognition trends upward!</span>
            <span class="headline hl2"> no signs of slowing</span></div>
        <p class="magnifiable">Analyist project an unfettered expansion of Nathan's coding and related skills during the coming months and likely years. The last six months has been a real
            bear, but has produced unfettered growth in the Front and Back end Sectors. </p>

        <span class="headline hl6">"I gained experience in: HTML, CSS, JavaScript, jQuery, Java, Spring, and MySQL"</span>

        <p class="magnifiable">
            Current valuations indicate an exuberant rise in comprehension for such valued commodities as React and Angular as Nathan starts new projects featuring both. Cyclically adjusted trends might warrant a safe investment of time in long
            used and trusted institutions such as Python or another compiled language such as C#, however at this juncture it is too early to tell.
        </p>
        <figure class="figure">
            <picture>
                <source srcset="assets/images/webp_sm/knowledgeChart.webp" type="image/webp">
                <img class="media chart" src="assets/images/png_sm/knowledgeChart.png" alt="Knowledge Chart">
            </picture>
            <figcaption class="figcaption">"Learning trends upward"</figcaption>
        </figure>
    </div>
    <div class="column">
        <div class="head"><span class="headline hl1">Nothing ventured, Nothing gained!</span>
            <p><span class="headline hl2">Codeup, CaptureRx, then ...</span>
            </p></div>
        <figure class="figure">
            <picture>
                <source srcset="assets/images/webp_sm/codeupCampus2.webp" type="image/webp">
                <img class="campus" src="assets/images/png_sm/codeupCampus2.png" alt="Codeup Campus">
            </picture>
            <figcaption class="figcaption">"Codeup's downtown SA campus entrance"</figcaption>
        </figure>
        <p class="magnifiable">Codeup is a fully-immersive, project-based, and intensive 22 week full stack career accelerator that
            provides students with 670 hours of expert instruction in software development. When asked, Nathan had this to say, "The instructors were excellent, and I gained experience in:
            HTML, CSS, JavaScript, jQuery, Java, Spring, and MySQL to name a few".
            He Graduated in July 2021 and received a position as a
            web application developer just around the corner from code up at CaptureRx a month after. It has been almost 4 years since then and
            and Nathan has gained skills in all aspects of Cumulus (CaptureRx's flagship hospital software) as well as in managing the cloud server architechure on
            which it runs.
        </p>
    </div>
</div>