/*Desk Background */
/* Desk Background */
.desk-background {
    position: relative;
    top: -100px;
    bottom: 0;
    left: 0;
    transform: skew(-2deg);
    transform-origin: top;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overscroll-behavior: auto;
    background: image-set(
            url('/assets/images/webp_sm/Desk-Background.webp') 1x,
            url('/assets/images/png_sm/Desk-Background.png') 1x
    ) no-repeat center center;
    background-size: 2300px;
    font-family: Arial;
    height: 1400px;
}

/* Drawer Open Background */
.drawer-background {
    position: relative;
    top: -100px;
    bottom: 0;
    left: 0;
    transform: skew(-2deg);
    transform-origin: top;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overscroll-behavior: auto;
    background: image-set(
            url('/assets/images/webp_sm/DeskDrawer.webp') 1x,
            url('/assets/images/png_sm/DeskDrawer.png') 1x
    ) no-repeat center center;
    background-size: 2000px;
    font-family: Arial;
    height: 1250px;
}

@font-face {
    font-family: Akaya_Kanadaka;
    src: url("/assets/fonts/Akaya_Kanadaka/AkayaKanadaka-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Indie_Flower;
    src: url("/assets/fonts/Indie_Flower/IndieFlower-Regular.ttf") format("truetype");
}

/* Akaya Kanadaka */
@font-face {
    font-family: Akaya Kanadaka;
    src: url('/assets/fonts/Akaya_Kanadaka/AkayaKanadaka-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Amatic SC */
@font-face {
    font-family: Amatic SC;
    src: url('/assets/fonts/Amatic_SC/AmaticSC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* DotGothic16 */
@font-face {
    font-family: 'Dot Gothic 16';
    src: url('/assets/fonts/DotGothic16/DotGothic16-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Fascinate */
@font-face {
    font-family: Fascinate;
    src: url('/assets/fonts/Fascinate/Fascinate-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Kavivanar */
@font-face {
    font-family: Kavivanar;
    src: url('/assets/fonts/Kavivanar/Kavivanar-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Montserrat */
@font-face {
    font-family: Montserrat;
    src: url('/assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Neucha */
@font-face {
    font-family: Neucha;
    src: url('/assets/fonts/Neucha/Neucha-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Oswald */
@font-face {
    font-family: Oswald;
    src: url('/assets/fonts/Oswald/static/Oswald-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Redressed */
@font-face {
    font-family: Redressed;
    src: url('/assets/fonts/Redressed/Redressed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Roboto Mono */
@font-face {
    font-family: Roboto Mono;
    src: url('/assets/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* SF Movie Poster */
@font-face {
    font-family: SF Movie Poster;
    src: url('/assets/fonts/sf-movie-poster/sf-movie-poster.condensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Work Sans */
@font-face {
    font-family: Work Sans;
    src: url('/assets/fonts/Work_Sans/static/WorkSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-preview {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding:  100px 0 0 0;
    background: azure;
}

.font-box {
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    margin-bottom: 10px;
}
